.page-template-page-exhibitions {
  .exhibitions {
    .entry-content {
      border-bottom: 1px solid #ccc;
      padding: 0 0 20px;
      margin: 0 auto 60px;
    }
  }
}


.exhibitions {
  .post-thumbnail {
    margin-bottom: 15px;
  }

  .entry-header {
    margin-top: 0;
  }

  .entry-title {
    &:before {
      display: none;
    }
  }
}
