* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

input:focus {
  outline: none; }

.admin-nav {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .admin-nav-item {
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    color: #000000; }

.events-index-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1280px;
  margin: 0 auto; }
  .events-index-container .sorter-container {
    padding-bottom: 5px;
    grid-column: span 12;
    border-bottom: 1px #A4A6A8 solid;
    display: flex; }
    .events-index-container .sorter-container .sort-label {
      font-weight: 600;
      margin-right: 15px; }
    .events-index-container .sorter-container .sort-item-label {
      margin-right: 3px; }
    .events-index-container .sorter-container .sort-item {
      margin-right: 10px;
      display: flex;
      align-items: center;
      min-width: 50px; }
      .events-index-container .sorter-container .sort-item .fas {
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        height: 13px; }
  .events-index-container .admin-event {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 60px 30px;
    border: 1px #A4A6A8 solid;
    border-radius: 2px;
    position: relative; }
    .events-index-container .admin-event .event-date,
    .events-index-container .admin-event .event-time,
    .events-index-container .admin-event .event-info {
      margin: 0; }
    .events-index-container .admin-event .event-date {
      font-weight: 600; }
    .events-index-container .admin-event .event-time {
      font-style: italic;
      margin-bottom: 10px; }
    .events-index-container .admin-event .event-edit {
      height: 30px;
      width: max-content;
      padding: 0 10px;
      font-size: 14px;
      color: #FFFFFF;
      background: #DA291C;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 15px;
      right: 15px; }
    .events-index-container .admin-event .full-label {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #DA291C;
      font-weight: 600; }

.admin-edit-container {
  display: flex;
  padding: 30px 30px 75px 30px;
  margin: 0 auto;
  border: 1px solid #A4A6A8;
  border-radius: 2px;
  width: max-content;
  max-width: 640px;
  position: relative; }
  .admin-edit-container .state {
    position: absolute;
    bottom: -30px;
    left: 0; }
  .admin-edit-container .update-button,
  .admin-edit-container .cancel-button {
    width: max-content;
    height: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #DA291C;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px; }
  .admin-edit-container .update-button {
    left: 30px; }
  .admin-edit-container .cancel-button {
    right: 30px; }
  .admin-edit-container .loading-container {
    width: max-content;
    font-size: 20px;
    color: #DA291C;
    margin: auto auto; }
  .admin-edit-container .edit-form {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .admin-edit-container .edit-form .event-header {
      font-size: 20px;
      font-weight: normal;
      margin: 0 auto 10px auto;
      border-bottom: 1px solid #DA291C;
      padding-bottom: 10px; }
    .admin-edit-container .edit-form .event-info {
      margin: 0; }
    .admin-edit-container .edit-form .number-of-attendee-input {
      height: 20px;
      padding-left: 10px;
      margin-left: 5px;
      width: 50px; }
    .admin-edit-container .edit-form .total-attending {
      margin: 10px 0; }
    .admin-edit-container .edit-form .attendees-header {
      margin-bottom: 5px; }
    .admin-edit-container .edit-form .attendee-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 5px;
      border-bottom: 1px solid #DA291C;
      position: relative; }
      .admin-edit-container .edit-form .attendee-container .attendee-remove {
        position: absolute;
        right: 15px;
        top: 15px; }
      .admin-edit-container .edit-form .attendee-container .name {
        font-weight: 600; }
      .admin-edit-container .edit-form .attendee-container .email {
        font-size: 12px;
        font-style: italic;
        color: #A4A6A8;
        margin-bottom: 5px; }
      .admin-edit-container .edit-form .attendee-container .guests-label {
        font-size: 14px; }
      .admin-edit-container .edit-form .attendee-container .guest-container .guest-name {
        font-size: 14px; }
