@import 'vars.scss';

.closed-notice {

  padding: $pad;

  p {
    font-weight: normal;
  }

  a {
    color: $primary;
    font-style: italic;
  }

  span {
    font-weight: 600;
  }

  &-message {
    margin-top: $pad;
  }
}