$primary: #DA291C;
$black: #000000;
$dark-grey: #333333;
$grey: #A4A6A8;
$background: #D0D0CE;
$gutter: 80px;
$white: #FFFFFF;
$large: 24px;
$medium: 20px;
$small: 14px;
$smallest: 12px;
$pad: 30px;
$sans: national;
$serif: Antwerp;
$mobile-width: 425px;