.closed-notice {
  padding: 30px; }
  .closed-notice a {
    color: #DA291C;
    font-style: italic; }
  .closed-notice span {
    font-weight: 600; }
  .closed-notice-message {
    margin-top: 30px; }
