$primary: #DA291C;
$black: #000000;
$grey: #A4A6A8;
$dark-grey: #333333;
$gutter: 80px;
$white: #FFFFFF;
$large: 24px;
$medium: 20px;
$small: 14px;
$smallest: 12px;
$pad: 30px;
$sans: national;
$serif: Antwerp;
$max-width: 1280px;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
button {
  &:focus {
    outline: none;
  }
}


.admin-nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-item {
    text-decoration: none;
    margin: 10px;
    font-size: $large;
    color: $black;
  }
}

.hidden {
  display: none;
}

.events-index-container {
  display: grid;
  grid-column-gap: $pad;
  grid-row-gap: $pad;
  grid-template-columns: repeat(12, 1fr);
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: 100px;

  .sorter-container {
    padding-bottom: 5px;
    grid-column: span 12;
    display: flex;
    flex-direction: column;

    .date-filter-container {
      margin-top: 20px;
      display: grid;
      grid-column-gap: $pad;
      grid-row-gap: $pad;
      grid-template-columns: repeat(12, 1fr);

      .date-filter,
      .clear-button,
      .publish-filter {
        grid-column: span 3;
        width: 100%;
      }

      .clear-button {
        height: $pad;
        font-size: $small;
        text-transform: uppercase;
      }
    }

    .sorter-item-container {
      display: flex;
      width: 100%;
      border-bottom: 1px $grey solid;
      padding-bottom: 10px;

      .active-archive-switch-container {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .label {
          font-weight: 600;
        }
  
        .indicator {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background: black;
          margin-right: 10px;
        }
  
        .active {
          background: lightgreen;
        }
  
        .archive {
          background: $primary;
        }
  
        &:hover {
          cursor: pointer;
        };
      }
    }


    .sort-label {
      font-weight: 600;
      margin-right: 15px;
    }

    .sort-item-label {
      margin-right: 3px;
    }

    .sort-item {
      margin-right: 10px;
      display: flex;
      align-items: center;
      min-width: 50px;

      .fas {
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        height: 13px;
      }
    }
  }

  .admin-event {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    padding: $pad $pad  $pad*2 $pad;
    border: 1px $grey solid;
    border-radius: 2px;
    position: relative;

    .published,
    .draft {
      position: absolute;
      bottom: 15px;
      left: 30px;
      font-weight: 600;
      text-transform: capitalize;
    }

    .published {
      color: lightseagreen;
    }

    .draft {
      color: grey;
    }


    .event-date,
    .event-time,
    .event-info {
      margin: 0;
    }

    .event-info {
      border-bottom: 1px solid lightgrey;
      padding: 5px 0;
    }

    .event-date {
      font-weight: 600;
    }

    .event-time {
      font-style: italic;
      margin-bottom: 10px;
    }

    .event-edit {
      height: $pad;
      width: max-content;
      padding: 0 10px;
      font-size: $small;
      color: $white;
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 15px;
      right: 15px;
    }

    .full-label {
      position: absolute;
      top: 15px;
      right: 15px;
      color: $primary;
      font-weight: 600;
    }
  }
}

@page {
  size: auto;
  // margin: 0mm;
}

@media print {

  .adminmenuback,
  .adminmenuwrap,
  .adminmenumain,
  .wpadminbar,
  #wpfooter {
    display: none;
    margin: 0;
    padding: 0;
  }

  #wpcontent {
    margin-left: 0;
    padding-left: 0;
  }

  html.wp-toolbar {
    padding-top: 0;
  }

  #adminmenuback,
  .sticky-menu #adminmenuwrap {
    display: none;
  }

  .wpcontent {
    margin: 0;
    padding: 0;
  }

  .waiver-container {
    padding-top: 0 !important;
  }

  .wrap {
    margin: 0;

    h2,
    noscript {
      display: none;
    }
  }

  @page {
    margin: 5mm;
  }

}

.waiver-container {
  background: $white;
  pointer-events: none;
  width: 100vw;
  height: max-content;
  // position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: $pad*2;
}

.print-waiver {
  width: 100vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: $pad;

  .bold {
    font-weight: 600;
  }

  .list-header {
    margin-bottom: 15px;
  }

  ul {
    margin-top: 0;
    padding-left: 15px;
  }

  .bold,
  .regular,
  li {
    font-size: 10px;
    font-family: $sans;
  }

  .release {
    margin-bottom: 30px;
  }

  .header-fields {
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    padding: 15px 0;
  }

  .form-fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 8px;

    .bold {
      font-size: $small;
      font-family: $sans;
    }

    p {
      grid-column: span 1;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-family: $sans;
      color: $dark-grey;
    }

    .form-fill {
      border-bottom: 1px $grey solid;
      padding-bottom: 10px;
      min-height: 30px;
    }
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px $grey solid;
    border-top: 1px $grey solid;
    margin-bottom: 15px;

    .exhibit-name {
      font-family: $serif;
      font-size: $small;
      color: $black;
      margin: 0;
    }

    .date {
      font-family: $serif;
      font-size: $smallest;
      color: $dark-grey;
      margin: 0;
    }
  }

  .waiver-header-container {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 11px;
      width: auto;
    }

    .header-text {
      font-size: 18px;
      margin: 0;
    }
  }

}

.form-outer-container {
  display: flex;
  padding: $pad*2 $pad*2 $pad*2 $pad*2;
  margin: 0 auto;
  border: 1px solid $grey;
  border-radius: 2px;
  width: max-content;
  max-width: $max-width/2;
  position: relative;
  flex-direction: column;
  min-width: 50%;
  min-height: 350px;
  margin-bottom: 100px;

  .hidden {
    display: none;
  }

  .add-guest-form {
    position: absolute;
    background: $white;
    left: 0;
    width: 80%;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    padding: $pad;
    top: 50%;
    z-index: 1;

    .designation-select {
      margin-bottom: 15px;
    }

    .close-form {
      font-size: 12px;
      position: absolute;
      top: 15px;
      right: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .title {
      font-weight: 600;
    }

    .infobox {
      width: 100%;
      height: max-content;
      border-bottom: 1px solid $primary;
      border-top: 1px solid $primary;
      margin-bottom: $pad;

      .info {
        font-size: 12px;
      }
    }

    .guest-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      width: 100%;

      .guest-container {
        display: flex;
        width: 100%;
        align-items: center;
        height: max-content;
        margin-bottom: 10px;
        grid-column: span 2;

        .fas {
          font-size: 10px;
        }

        input {
          width: calc(50% - 10px);
          margin-right: 10px;
          height: $pad;
          padding-left: 8px;
          font-size: 10px;
          border-radius: 2px;
          border: 1px solid $grey;

          &::placeholder {
            text-transform: capitalize;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .form-action {
        grid-column: span 1;
        height: $pad;
        background: $primary;
        color: white;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      .message {
        font-size: 12px;
        color: $primary;
      }

      .override,
      .notify,
      .message {
        grid-column: span 2;
        display: flex;

        label {
          font-size: 12px;
          margin-left: 10px;
        }
      }

      .attendee-input {
        grid-column: span 1;
        height: $pad;
        padding-left: 10px;
        width: 100%;
      }

      .add-guest {
        grid-column: span 2;
        margin: 10px 0;
        width: max-content;

        &:hover {
          cursor: pointer;
        }

        i,
        span {
          font-size: 12px;
        }
      }
    }
  }
}

.loading-container {
  justify-content: center;
  align-items: center;
}

.admin-edit-container {
  width: 100vw;
  height: 100vh;

  .menu-toggle {
    font-size: $large;
    position: absolute;
    right: $pad;
    top: $pad;

    &:hover {
      cursor: pointer;
    }
  }

  .email-list {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .menu {
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    top: $pad;
    right: $pad;
    background: $white;
    box-shadow: 0 0 36px rgba(0,0,0,0.04);

    .close-menu {
      margin-left: auto;
      font-size: $smallest;
      margin-bottom: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    &-item {
      font-size: $small;
      margin: 0;
      color: $black;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }

    .print {
      margin-bottom: 10px;
    }
  }

  .hidden {
    display: none;
  }

  .form-message {
    position: absolute;
    bottom: 15px;
    font-size: $smallest;
    color: $primary;
    left: $pad*2;
  }

  #not-found-message {
    position: initial;
    margin-top: $pad;
    display: flex;
    justify-content: center;
  }

  .state {
    position: absolute;
    bottom: -30px;
    left: 0;
  }

  .update-button,
  .cancel-button {
    width: max-content;
    height: $pad;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: $primary;
    color: $white;
  }

  .edit-button-container {
    display: flex;
    justify-content: space-between;
  }

  .loading-container {
    width: max-content;
    font-size: $medium;
    color: $primary;
    margin: auto auto;
  }

  .edit-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    .react-datetime-picker {
      grid-column-start: 2;
      grid-column-end: 4;

    }

    .add-guest {
      margin-top: 10px;

      .fas {
        font-size: 12px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .notify-select,
    .publish-select {
      display: flex;
      align-items: center;
      margin-top: 10px;

      &-label {
        font-size: $smallest;
        font-style: italic;
      }

      input {
        margin-right: 10px;
      }
    }

    .notify-select {
      margin-bottom: $pad;
    }

    .event-header,
    .event-info {
      grid-column: span 4;
    }

    .event-header {
      font-size: $medium;
      font-weight: normal;
      margin: 0 auto 10px auto;
      border-bottom: 1px solid $primary;
      padding-bottom: 10px;
    }

    .event-info {
      margin: 0;
    }

    .designation-count {
      grid-column: span 2;
    }

    .edit-date {
      font-size: $smallest;
      color: $primary;
      margin-left: auto;
    }

    .react-datetime-picker__wrapper {
      width: 100%;
    }

    .number-of-attendee-input {
      height: 20px;
      padding-left: 10px;
      margin-left: 5px;
      width: 50px;
    }

    .total-attending {
      margin: 3px 0;
    }

    .remaining-spots {
      margin-bottom: 10px;
    }

    .attendees-header,
    .designations-header {
      font-weight: 600;
    }

    .update-options-container {
      grid-column: span 4;
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .attendee-container {
      grid-column: span 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid $primary;
      position: relative;
      padding-bottom: 40px;

      .designation {
        font-size: $small;
      }

      .new-guest-input-container {
        display: grid;
        width: 100%;
        height: $pad;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 10px;

        .new-guest-input {
          grid-column: span 2;
          width: 100%;
          padding-left: 10px;
        }

        .cancel-add-guest {
          grid-column: span 1;
          font-size: $small;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .add-new-guest {
        position: absolute;
        bottom: 10px;
        font-size: $smallest;
        color: $primary;

        &:hover {
          cursor: pointer;
        }
      }

      .icon-container {
        margin: 10px 0;

        .admin-added {
          margin-right: 15px;
        }
      }

      .attendee-remove {
        position: absolute;
        right: 10px;
        top: 15px;

        &:hover {
          cursor: pointer;
        }
      }

      .cancel-remove {
        font-size: $smallest;
        color: $primary;

        &:hover {
          cursor: pointer;
        }
      }

      .name {
        font-weight: 600;
      }

      .name-true {
        text-decoration: line-through;
        text-decoration-color: $primary;
      }

      .email {
        font-size: $smallest;
        font-style: italic;
        color: $grey;
        margin-bottom: 5px;
      }

      .guests-label {
        font-size: $small;
        margin: 10px 0;
      }

      .guest-container {
        display: flex;
        margin-bottom: 10px;
        border-bottom: thin lightgrey solid;

        .guest-name {
          font-size: $small;
        }

        .remove {
          text-decoration: line-through;
          text-decoration-color: $primary;
        }

        .guest-cancel-remove {
          color: $primary;
          font-size: $smallest;
        }

        .remove-guest-icon,
        .guest-cancel-remove {
          margin-left: auto;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.create-event-form {
  padding: $pad;
  border: 1px $grey solid;
  width: max-content;
  margin: 0 auto;
  position: relative;

  .create-header {
    font-size: $medium;
    font-weight: normal;
    margin: 0 0 20px 0;
    border-bottom: thin $primary solid;
    padding-bottom: 10px;
  }

  .publish-checkbox-container {
    margin-bottom: $pad;
    width: 100%;
    display: flex;

    label {
      font-size: $small;
      margin-right: 10px;
    }
  }

  .react-datetime-picker {
    margin-bottom: 10px;
    width: 100%;

    .react-datetime-picker__inputGroup__hour {
      margin-left: 10px;
    }

    &__wrapper {
      width: 100%;
    }

    &__calendar {
      bottom: inital;
      top: 0;
    }

    &__clock {
      display: none;
    }
  }

  .spots-container {
    margin-bottom: 10px;
    height: $pad;

    label {
      font-size: $small;
      margin-right: 10px;
    }

    input {
      height: 100%;
      padding-left: 10px;
    }
  }

  .create-form-message {
    font-family: $serif;
    color: $primary;
    font-style: italic;
    font-size: $small;
  }

  .create-button {
    padding: 0 10px;
    border: none;
    background: $primary;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $pad;
    font-size: $smallest;
  }
}
