.desktop-only {
  display: none;

  @include media(tablet){
    display: block;
  }
}

.mobile-only {
  display: block;

  @include media(tablet){
    display: none;
  }
}

// hide recaptcha
.grecaptcha-badge {
  display: none;
  visibility: hidden;
}
