$primary: #DA291C;
$black: #000000;
$dark-grey: #333333;
$grey: #A4A6A8;
$background: #D0D0CE;
$gutter: 80px;
$white: #FFFFFF;
$large: 24px;
$medium: 20px;
$small: 14px;
$smallest: 12px;
$pad: 30px;
$sans: national;
$serif: Antwerp;

input,
button,
select {
  &:focus {
    outline: none;
  }
}

button {
  font-family: $serif;
  font-size: $smallest;
}

input {
  font-family: $serif;
  font-size: $small;
}

button,
.fas {
  &:hover {
    cursor: pointer;
  }
}

* {
  color: black;
  box-sizing: border-box;
}

.event {
  width: max-content;
  height: max-content;
  border: 1px black solid;
  display: flex;
}

.event-date {
  padding: 10px;
  background: lightgrey;
  border-radius: 2px;
  height: max-content;
  width: max-content;
  margin: 20px;
}

.booking-form-cta {
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;


}

.cancel-message-container,
.update-message-container {
  width: 400px;
  height: max-content;
  border: thin $black solid;
  padding: $pad;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: $white;
  position: relative;

  .close-button {
    position: absolute;
    top: $pad;
    right: $pad;
    text-decoration: none;
  }

  .cancel-message,
  .update-message {
    font-size: $medium;
    color: $primary;
    font-family: $serif;
  }
}

.cancel-edit-modal {
  border-radius: 2px;
  position: relative;

  .close-button {
    position: absolute;
    top: $pad;
    right: $pad;
    text-decoration: none;
  }

  .form-greeting {
    font-size: $medium;
    font-weight: 400;
    font-family: $serif;
  }

  #cancel-submit-prompt-container {
    flex-direction: row;
    justify-content: space-between;
  }
}


.booking-form-cta,
.cancel-edit-container {
  
  .no-booking-found {
    padding: $pad;
    font-family: $serif;
    background: $white;
    color: $primary;
    border: 1px $black solid;
    position: relative;
    max-width: 300px;

    .close-button {
      position: absolute;
      right: 15px;
      top: 15px;
      text-decoration: none;
    }
  }

  .cta-button {
    border: 0;
    padding: 0;
    margin-left: auto;
    width: max-content;
    height: $gutter * 1.5;
    width: $gutter * 1.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-size: $large;
    position: relative;
    z-index: 1000;
    background: $black;
    border-radius: 0;

    &-text {
      color: $white;
      margin-bottom: 30px;
    }
  }

  .booking-form-container {
    background: $white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    max-width: 470px;
    width: calc(100vw - 60px);
    box-shadow: 0 0 36px rgba(0,0,0,0.04);
  }

  .booking-form-container {
    @media only screen and (max-width: 375px) {
      width: calc(100vw - 2em);
		}
  }

  .booking-form-container,
  .cancel-edit-modal {

    .booking-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .cta-header {
        height: 120px;
        padding: $pad 0 0 $pad;
        width: calc(100% - 120px);

        .header-title {
          color: black;
          margin: 0;
          font-size: $medium;
          font-family: $serif;
        }

        .sub-header {
          margin: 0;
          color: $grey;
          font-size: $small;
          font-family: $serif;
          font-style: italic;
        }
      }

      .form-body {
        width: 100%;
        height: calc(100% - 120px);
        padding: $pad;

        .form-header {
          margin: 0 0 10px 0;
          font-size: $medium;
          color: $grey;
          text-transform: capitalize;
          font-family: $serif;
        }

        .date-time-select {
          // height: $pad;
          display: flex;
          width: 100%;
          margin-bottom: $pad;

          .availability {
            width: calc(100% / 3);
            display: flex;
            justify-content: center;
            align-items: center;
            border: thin $primary solid;
            font-size: $small;
            color: $primary;
            border-radius: 2px;
            font-family: $serif;
          }

          .time-select {
            margin: 0 10px;
          }

          .date-select,
          .time-select,
          .availability-holder {
            width: calc(100% /3);

            // gets rid of spans that create vertical grey lines
            .css-d8oujb,
            .css-ln5n5c {
              display: none;
            }

            .css-1hwfws3 {
              position: absolute;
              width: 80%;
              overflow: visible;
            }

            .css-1wy0on6 {
              position: absolute;
              right: 0;
            }

            // dropdown container
            .css-15k3avv {
              width: max-content;

              .css-11unzgr {
                div {
                  font-size: $small;
                }
              }
            }

            .css-bl6clz {
              display: none !important;
            }

            .css-vj8t7z,
            .css-2o5izw,
            .css-162g8z5 {
              height: $pad !important;
              min-height: initial !important;
              border-radius: 2 !important;
              border: 1px solid $grey !important;

              // class below is text inside select
              .css-xp4uvy,
              .css-1492t68 {
                font-size: $small;
              }

              // shifts svg more to the right
              .css-1ep9fjw,
              .css-1uq0kb5 {
                padding: 8px 3px 8px 8px;
              }

              svg {
                height: 10px !important;
                width: 10px !important;
                fill: $grey;
              }
            }

          }
        }

        .attendee-info {
          display: flex;
          justify-content: space-between;
          height: $pad;
          margin-bottom: 10px;

          .attendee-name-input {
            margin-right: 10px;
          }

          input {
            width: calc(100% / 2);
            height: 100%;
            padding-left: 8px;
            font-size: $small;
            border-radius: 2px;
            border: 1px solid $grey;

            &:focus {
              outline: none;
            }
          }
        }

        .subscribe-container {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          input {
            margin: 0;
            width: 15px;
            height: 15px;
            border-radius: 0;
            margin-right: 5px;
          }

          .subscribe-label {
            font-style: italic;
            font-size: $smallest;
            font-family: $serif;
            font-weight: lighter;
          }
        }

        .guests-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: $pad;

          .guest-inputs {
            display: flex;
            width: 100%;
            align-items: center;
            height: max-content;
            margin-bottom: 10px;

            .fas {
              font-size: 10px;
            }

            input {
              width: calc(50% - 10px);
              margin-right: 10px;
              height: $pad;
              padding-left: 8px;
              font-size: $small;
              border-radius: 2px;
              border: 1px solid $grey;

              &::placeholder {
                text-transform: capitalize;
              }

              &:focus {
                outline: none;
              }
            }
          }

          .add-guest {
            width: 100%;
            display: flex;
            align-items: center;

            .fas {
              font-size: 10px;
            }

            span {
              font-size: $smallest;
              margin-left: 5px;
              font-family: $serif;
            }
          }
        }

        .message-container {
          color: $primary;
          font-size: $small;
          margin-bottom: 10px;
        }

        .submit-prompt-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .guest-message {
            font-size: $small;
            color: $primary;
            margin-bottom: 10px;
            font-family: $serif;
          }

          .submit-button {
            color: $white;
            font-size: $smallest;
            padding: 10px;
            background: $primary;
            border: none;
          }
        }

      }

    }

  }
}


.hidden {
  display: none;
}

.cancel-edit-container,
.register-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(208,208,206,0.9);
  z-index: 1;

  .cancel-edit-modal {
    border: thin black solid;
    border-radius: 2px;
    width: max-content;
    background: $white;
  }

  .register-modal {
    padding: $pad;
    display: flex;
    flex-direction: column;
    position: relative;
    background: $white;
    border-radius: 2px;
    max-width: 470px;

    .register-masthead {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: $pad;

      svg {
        height: 12px;
        width: auto;
      }

      .close-register-button {
        font-size: $smallest;
        text-decoration: none;
        cursor: pointer;
        color: $black;
      }
    }

    .register-header {
      margin: 0;
      font-size: $medium;
      font-family: $serif;
      font-weight: normal;
      margin-bottom: 15px;
    }

    .register-text {
      font-family: $serif;
      color: $dark-grey;
      font-size: $small;
      margin: 0 0 $pad 0;
      line-height: 22px;
      font-weight: 300;
    }

    .register-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 10px;
      margin-bottom: $pad;
      width: 100%;

      .email-input {
        grid-column: span 2;
      }

      .name-input {
        grid-column: span 1;
        width: 100%;
      }

      .email-input,
      .name-input {
        height: $pad;
        padding-left: 8px;
        border: 1px solid $grey;
        border-radius: 2px;
        font-family: $serif;
        font-size: $small;

        ::placeholder {
          color: $grey;
          font-family: $serif;
        }
      }
    }

    .register-button {
      height: $pad;
      font-size: $smallest;
      color: $white;
      background: $primary;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 2px;
      font-family: $serif;
      width: max-content;
      margin: 0 auto;

      &:hover {
        cursor: pointer;
      }
    }

    .register-message {
      font-style: italic;
      position: absolute;
      left: $pad;
      bottom: 5px;
      font-size: $smallest;
      color: $primary;
    }


  }
}

