@import 'sass/vars.scss';
@import 'sass/cancel-edit.scss';
@import 'sass/booking-form.scss';

input,
button,
select {
  &:focus {
    outline: none;
  }
}

button {
  font-family: $serif;
  font-size: $smallest;
  font-weight: lighter;
}

input {
  font-family: $serif;
  font-size: $small;
}

button,
.fas {
  &:hover {
    cursor: pointer;
  }
}

* {
  color: black;
  box-sizing: border-box;
}

// styles overrides for Select

.css-d8oujb,
.css-ln5n5c {
  display: none;
}

.css-1hwfws3 {
  position: absolute;
  width: 80%;
  overflow: visible;
}

.css-1wy0on6 {
  position: absolute;
  right: 0;
}

// dropdown container
.css-15k3avv {
  width: max-content;

  .css-11unzgr {
    div {
      font-size: $small;
    }
  }
}

.css-bl6clz {
  display: none !important;
}

.css-vj8t7z,
.css-2o5izw,
.css-162g8z5 {
  height: $pad !important;
  min-height: initial !important;
  border-radius: 2 !important;
  border: 1px solid $grey !important;

  // class below is text inside select
  .css-xp4uvy,
  .css-1492t68 {
    font-size: $small;
    font-weight: lighter;
    font-family: $serif;
  }

  // shifts svg more to the right
  .css-1ep9fjw,
  .css-1uq0kb5 {
    padding: 8px 3px 8px 8px;
  }

  svg {
    height: 10px !important;
    width: 10px !important;
    fill: $grey;
  }
}

.event {
  width: max-content;
  height: max-content;
  border: 1px black solid;
  display: flex;
}

.event-date {
  padding: 10px;
  background: lightgrey;
  border-radius: 2px;
  height: max-content;
  width: max-content;
  margin: 20px;
}

.booking-form-cta {
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;


}

.cancel-message-container,
.update-message-container {
  width: 400px;
  height: max-content;
  padding: $pad*2 $pad $pad $pad;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: $white;
  position: relative;
  font-weight: lighter;

  .logo {
    height: 12px;
    width: auto;
    position: absolute;
    top: $pad;
    left: $pad;
  }

  .close-button {
    font-size: $smallest;
    position: absolute;
    top: $pad;
    right: $pad;
    text-decoration: none;
  }

  .cancel-message,
  .update-message {
    font-size: $small;
    color: $black;
    font-family: $serif;
  }
}

.cancel-edit-modal {
  border-radius: 2px;
  position: relative;

  .logo {
    height: 12px;
    width: auto;
    position: absolute;
    top: $pad;
    left: $pad;
  }

  .close-button {
    font-size: $smallest;
    position: absolute;
    top: $pad;
    right: $pad;
    text-decoration: none;
    color: $black;
  }

  .form-greeting {
    font-size: $medium;
    font-weight: 600;
    font-family: $serif;
    margin-top: $pad;
  }

  .event-date-label {
    font-weight: normal;
  }

  #cancel-submit-prompt-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.backdrop {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.hidden {
    display: none;
    visibility: hidden;
  }
}

.hidden {
  display: none;
}



