.entry {
  &-date {
    color: $color__brand_primary;
    font-family: 'national', sans-serif;
    text-transform: uppercase;
    margin: 0;
  }

  &-title {
    font-size: 45px;
    font-weight: 300;
    margin: 0;
  }

  &-author {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 30px;
  }
}
