@import 'vars.scss';
@import "../node_modules/react-toggle-switch/dist/css/switch.min.css";

.settings-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: $pad;
  grid-gap: $grid-gap;
  border: 1px solid black;

  .non-toggle {
    flex-direction: column;
  }

  .settings-submit-status {
    grid-column: span 1;
    margin: 0;
    height: max-content;
    color: $primary;
    text-transform: capitalize;
    font-size: $small;
  }

  .setting {
    grid-column: span 1;
    background: rgba(0,0,0,0.1);
    display: flex;
    padding: 10px 10px;

    &-label {
      margin-right: 5px;
      text-transform: capitalize;
    }

    &-toggle-switch {
      margin: auto 0 auto 0;
    }

    &-textarea {
      width: 100%;
      height: $pad * 3;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  .update-settings {
    width: 25%;
    height: 20px;
  }
}
