$primary: #DA291C;
$black: #000000;
$grey: #A4A6A8;
$dark-grey: #333333;
$gutter: 80px;
$white: #FFFFFF;
$large: 24px;
$medium: 20px;
$small: 14px;
$smallest: 12px;
$pad: 30px;
$sans: national;
$serif: Antwerp;
$max-width: 1280px;
$grid-gap: 20px;