.events-index-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 100px; }
  .events-index-container .sorter-container {
    padding-bottom: 5px;
    grid-column: span 12;
    display: flex;
    flex-direction: column; }
    .events-index-container .sorter-container .date-filter-container {
      margin-top: 20px;
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: repeat(12, 1fr); }
      .events-index-container .sorter-container .date-filter-container .date-filter,
      .events-index-container .sorter-container .date-filter-container .clear-button,
      .events-index-container .sorter-container .date-filter-container .publish-filter,
      .events-index-container .sorter-container .date-filter-container .attendee-search {
        grid-column: span 3;
        width: 100%; }
      .events-index-container .sorter-container .date-filter-container .attendee-search {
        padding-left: 5px;
        font-size: 15px; }
      .events-index-container .sorter-container .date-filter-container .clear-button {
        height: 30px;
        font-size: 14px;
        text-transform: uppercase; }
    .events-index-container .sorter-container .sorter-item-container {
      display: flex;
      width: 100%;
      border-bottom: 1px #A4A6A8 solid;
      padding-bottom: 10px; }
      .events-index-container .sorter-container .sorter-item-container .active-archive-switch-container {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        .events-index-container .sorter-container .sorter-item-container .active-archive-switch-container .label {
          font-weight: 600; }
        .events-index-container .sorter-container .sorter-item-container .active-archive-switch-container .indicator {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background: black;
          margin-right: 10px; }
        .events-index-container .sorter-container .sorter-item-container .active-archive-switch-container .active {
          background: lightgreen; }
        .events-index-container .sorter-container .sorter-item-container .active-archive-switch-container .archive {
          background: #DA291C; }
        .events-index-container .sorter-container .sorter-item-container .active-archive-switch-container:hover {
          cursor: pointer; }
    .events-index-container .sorter-container .sort-label {
      font-weight: 600;
      margin-right: 15px; }
    .events-index-container .sorter-container .sort-item-label {
      margin-right: 3px; }
    .events-index-container .sorter-container .sort-item {
      margin-right: 10px;
      display: flex;
      align-items: center;
      min-width: 50px; }
      .events-index-container .sorter-container .sort-item .fas {
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        height: 13px; }
  .events-index-container .admin-event {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 60px 30px;
    border: 1px #A4A6A8 solid;
    border-radius: 2px;
    position: relative; }
    .events-index-container .admin-event .peek-container {
      background-color: rgba(218, 41, 28, 0.2);
      border-radius: 2px;
      max-height: 170px;
      overflow-y: scroll; }
      .events-index-container .admin-event .peek-container p {
        margin: 0;
        font-size: 12px; }
      .events-index-container .admin-event .peek-container .peek-main {
        font-weight: bold; }
      .events-index-container .admin-event .peek-container .peek-row {
        margin-bottom: 5px;
        border-top: 1px solid #DA291C;
        padding-left: 5px; }
        .events-index-container .admin-event .peek-container .peek-row .highlight {
          background-color: yellow; }
    .events-index-container .admin-event .event-peek-button,
    .events-index-container .admin-event .close-event-peek {
      position: absolute;
      right: 30px;
      top: 45px; }
      .events-index-container .admin-event .event-peek-button:hover,
      .events-index-container .admin-event .close-event-peek:hover {
        cursor: pointer; }
    .events-index-container .admin-event .published,
    .events-index-container .admin-event .draft {
      position: absolute;
      bottom: 15px;
      left: 30px;
      font-weight: 600;
      text-transform: capitalize; }
    .events-index-container .admin-event .published {
      color: lightseagreen; }
    .events-index-container .admin-event .draft {
      color: grey; }
    .events-index-container .admin-event .event-date,
    .events-index-container .admin-event .event-time,
    .events-index-container .admin-event .event-info {
      margin: 0; }
    .events-index-container .admin-event .event-info {
      border-bottom: 1px solid lightgrey;
      padding: 5px 0; }
    .events-index-container .admin-event .event-date {
      font-weight: 600; }
    .events-index-container .admin-event .event-time {
      font-style: italic;
      margin-bottom: 10px; }
    .events-index-container .admin-event .event-edit {
      height: 30px;
      width: max-content;
      padding: 0 10px;
      font-size: 14px;
      color: #FFFFFF;
      background: #DA291C;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 15px;
      right: 15px; }
    .events-index-container .admin-event .full-label {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #DA291C;
      font-weight: 600; }
