.settings-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  grid-gap: 20px; }
  .settings-container .settings-option {
    grid-column: span 1;
    border: 1px solid #DA291C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px; }
  .settings-container .option-form {
    position: absolute;
    padding: 30px;
    border: 1px solid black;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; }
    .settings-container .option-form .close {
      position: absolute;
      top: 30px;
      right: 30px; }
      .settings-container .option-form .close:hover {
        cursor: pointer; }
    .settings-container .option-form .form-header {
      margin: 0;
      grid-column: span 3; }
    .settings-container .option-form .form-item {
      grid-column: span 1;
      background: #DA291C;
      color: #FFFFFF;
      font-weight: 600;
      padding: 10px;
      position: relative; }
      .settings-container .option-form .form-item .delete-item {
        position: absolute;
        right: 10px; }
        .settings-container .option-form .form-item .delete-item:hover {
          cursor: pointer; }
    .settings-container .option-form .form-message {
      grid-column: span 3;
      color: #DA291C; }
    .settings-container .option-form .form-inputs {
      grid-column: span 3; }
      .settings-container .option-form .form-inputs .name-input {
        width: 25%;
        height: 30px; }
      .settings-container .option-form .form-inputs .create-button {
        width: 25%;
        height: 30px;
        margin-left: 10px; }
        .settings-container .option-form .form-inputs .create-button:hover {
          cursor: pointer; }
